<app-header></app-header>

<div class="app-layout">
  <app-sidebar-nav 
   [isCollapsed]="sidebarCollapsed" 
    (collapseToggle)="onSidebarToggle()">
  </app-sidebar-nav>
  
  <main class="main-content" [class.sidebar-collapsed]="sidebarCollapsed">
    <div class="content-wrapper">
      <!-- Default content when no specific route is matched -->
      <app-user></app-user>
      
      <!-- Router outlet for future routing -->
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </main>
</div>


